* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-image: url(../bg-image.jpg);
  height: 100vh;
  padding: 20px;
  background-size: cover;
}

.main-cont {
  width: 70%;
  height: 500px;
  margin: 20px auto;
  border: 2px dashed red;

  display: flex;
}

.main-cont > .contacts-cont {
  width: 35%;
  height: 100%;

  border: 2px dashed greenyellow;
}

.main-cont > .chat-cont {
  width: 65%;
  height: 100%;

  border: 2px dashed rgb(255, 161, 47);
}

.contacts-cont > .profile-bar {
  width: 100%;
  height: 40px;
  border: 2px dashed blueviolet;
}

.contacts-cont > .alert-bar {
  width: 100%;
  height: 40px;
  border: 2px dashed rgb(43, 226, 113);
}

.contacts-cont > .filter-bar {
  width: 100%;
  height: 30px;
  border: 2px dashed rgb(156, 226, 43);
}

.contacts-cont > .contacts-window {
  width: 100%;
  height: 350px;
  border: 2px dashed rgb(226, 112, 209);
}
